{% extends "layouts/base.html" %}


{% block title %}Login{% endblock title %}


{% block main %}
    <form action="{% url 'signin' %}" method="post">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Enviar">
    </form>
{% endblock main %}
    