{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contraseña Restablecida</title>
</head>
<body style="max-width: 600px; margin: 20px auto; background-color: #fff; padding: 20px; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <div style="text-align: center; margin-bottom: 20px;">
        <img src="{{logo_url}}" alt="Logo de la Compañía" style="max-width: 150px; height: auto;">
    </div>
    <div style="padding: 20px;">
        <p>¡Hola!</p>
        <p>Recibiste este correo electrónico porque has cambiado tu contraseña, la cual te hemos asignado:</p>
        <p>{{ new_password }}</p>
        <p>Si no solicitaste restablecer tu contraseña, puedes ignorar este mensaje.</p>
        <p>Gracias,<br>El equipo de Social NetWork</p>
    </div>
</body>
</html>
